<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset='UTF-8'>
    <meta name="theme-color" content="#006650">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>九班高中毕业去向地图</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93934873-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-93934873-2');
    </script>
</head>
<body style='margin: 0'>
<div id='map' style='width:100vw;height: 100vh;'>
    <div id="loading" style="text-align: center;"><h1>Loading....</h1></div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src='https://code.highcharts.com/maps/highmaps.js'></script>
<script src='https://code.highcharts.com/modules/drilldown.js'></script>
<script src='https://cdn.bootcss.com/nunjucks/3.0.1/nunjucks.min.js'></script>

<script src='https://data.jianshukeji.com/geochina/china.js'></script>
<script src='https://data.jianshukeji.com/geochina/zhejiang.js'></script>
<script src='https://data.jianshukeji.com/geochina/beijing.js'></script>
<script src='https://data.jianshukeji.com/geochina/jiangsu.js'></script>
<script src='https://data.jianshukeji.com/geochina/neimenggu.js'></script>
<script src='https://data.jianshukeji.com/geochina/guangdong.js'></script>
<script src='https://data.jianshukeji.com/geochina/tianjin.js'></script>
<script src='https://data.jianshukeji.com/geochina/hebei.js'></script>
<script src='https://data.jianshukeji.com/geochina/shanxi.js'></script>
<script src='https://data.jianshukeji.com/geochina/liaoning.js'></script>
<script src='https://data.jianshukeji.com/geochina/jilin.js'></script>
<script src='https://data.jianshukeji.com/geochina/heilongjiang.js'></script>
<script src='https://data.jianshukeji.com/geochina/shanghai.js'></script>
<script src='https://data.jianshukeji.com/geochina/anhui.js'></script>
<script src='https://data.jianshukeji.com/geochina/fujian.js'></script>
<script src='https://data.jianshukeji.com/geochina/jiangxi.js'></script>
<script src='https://data.jianshukeji.com/geochina/shandong.js'></script>
<script src='https://data.jianshukeji.com/geochina/henan.js'></script>
<script src='https://data.jianshukeji.com/geochina/hubei.js'></script>
<script src='https://data.jianshukeji.com/geochina/hunan.js'></script>
<script src='https://data.jianshukeji.com/geochina/guangxi.js'></script>
<script src='https://data.jianshukeji.com/geochina/hainan.js'></script>
<script src='https://data.jianshukeji.com/geochina/chongqing.js'></script>
<script src='https://data.jianshukeji.com/geochina/sichuan.js'></script>
<script src='https://data.jianshukeji.com/geochina/guizhou.js'></script>
<script src='https://data.jianshukeji.com/geochina/yunnan.js'></script>
<script src='https://data.jianshukeji.com/geochina/xizang.js'></script>
<script src='https://data.jianshukeji.com/geochina/shanxi2.js'></script>
<script src='https://data.jianshukeji.com/geochina/gansu.js'></script>
<script src='https://data.jianshukeji.com/geochina/qinghai.js'></script>
<script src='https://data.jianshukeji.com/geochina/ningxia.js'></script>
<script src='https://data.jianshukeji.com/geochina/xinjiang.js'></script>

<script src="info.js"></script>
<script>
    let nation = Highcharts.geojson(Highcharts.maps['cn/china']);

    let provinces = {};
    for (let province of nation) {
        let p = province;
        provinces[p.name] = p;
        p.drilldown = p.name;
        p.cities = {};
        p.people = [];
        p.value = 0;

        let name = p.properties.filename;
        if (Highcharts.maps[`cn/${name}`]) {
            p.cities = Highcharts.geojson(Highcharts.maps[`cn/${name}`]);
            for (let city of p.cities) {
                let c = city;
                p.cities[c.name] = c;
                c.people = [];
                c.value = 0;
            }
        }
    }
    for (let student of students) {
        let s = student;
        if (provinces[s.province]) {
            let p = provinces[s.province];
            p.people.push(s);
            p.value++;

            if (p.cities[s.city]) {
                let c = p.cities[s.city];
                c.people.push(s);
                c.value++;
            }
        }
    }

    // 初始化图表
    let map = new Highcharts.Map('map', {
        chart: {
            events: {
                //显示省级窗口
                drilldown: function (e) {
                    this.setTitle(null, {text: e.point.name});
                },
                //返回全国窗口
                drillup: function () {
                    data = Highcharts.maps['cn/china'];
                    this.setTitle(null, {text: '中国'});
                }
            }
        },

        title: {
            text: 'title',
            style: {
                fontSize: '20px'
            }
        },

        subtitle: {
            text: 'subtitle',
            floating: true,
            y: 50,
            style: {
                fontSize: '16px'
            }
        },

        //窗口提示
        tooltip: {
            useHTML: true,
            backgroundColor: '#357fee',
            borderRadius: 5,
            padding: 12,
            style: {
                'color': '#dddddd',
                'cursor': 'default',
                'fontSize': '18px',
                'pointerEvents': 'none',
                'whiteSpace': 'nowrap'
            },
            formatter: formatter
        },

        colorAxis: {
            min: 0,
            max: 50,
            type: 'linear',
            minColor: '#ffffff',
            maxColor: '#006650',
            stops: [
                [0, '#ffffff'],
                [0.02, '#B2DBD5'],
                [0.04, '#84C2B7'],
                [0.1, '#209E85'],
                [0.5, '#428C6D'],
                [1, '#006650']
            ]
        },

        series: [{
            data: nation,
            name: '中国',
            tooltip: {
                pointFormat: `{point.name}: {point.value}`
            }
        }],

        drilldown: {
            activeDataLabelStyle: {
                color: '#FFFFFF',
                textDecoration: 'none',
                textShadow: '0 0 3px #000000'
            },
            drillUpButton: {
                relativeTo: 'spacingBox',
                position: {x: 0, y: 60}
            },
            series: makeSeries()
        },

        mapNavigation: {
            enabled: true,
            buttonOptions: {
                verticalAlign: 'bottom'
            }
        }
    });

    function makeSeries() {
        let series = [];
        for (let p of nation) {
            if (p.cities) {
                series.push({
                    id: p.name,
                    name: p.name,
                    data: p.cities,
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                })
            }
        }
        return series;
    }

    function formatter() {
        let template = `
        <div class="tooltip">
            <div class="profile">
                <div class="name-and-count"> {{name}}  {{value}}人</div>
            </div>
            {% if name !== '浙江' %}
            <div class="list">
                {% for p in people %}
                <div class="pinfo">
                    <div class="pname">{{p.name}}</div>
                    {% if series == '中国' %}
                    <div class="city">{{p.city}}</div>
                    {% endif %}
                    <div class="school">{{p.school}}</div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        `;
        return nunjucks.renderString(template, {
            name: this.point.name,
            series: this.series.name,
            value: this.point.value,
            people: this.point.people
        });
    }
</script>
</body>
</html>